<!DOCTYPE html>
<html>
<head>
</head>
<body>


<a href="{% url 'log_parser_app:details_create' %}">Create new data</a>
<a href="{% url 'log_parser_app:log_create_init' %}">Create new log</a>

<p>Current projects:</p>
{% if logs %}
    <ul>
    {% for project, bugs in logs.items %}
    <p>--- {{ project }} ---</p>
        {% for bug, logs in bugs.items %}
        <p>--- --- {{ bug }}</p>
            {% for log in logs %}
            </br>
                --- --- --- {{ log.log_type.name }} {{ log.description }} {{ log.valid }}
                <form action="{% url 'log_parser_app:log_details' %}" method="post">
                {% csrf_token %}
                    <input type="hidden" value="{{ log.id }}" name="log_id"/>
                    <input type="submit" value="Show log"/>
                </form>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
</body>
</html>
